# back up files
~*

# Precompiled header directory
**/ipch

# logs
**/*.tlog
**/*.log

# hide folders
**/.vs
**/*.opendb

# generated objects
**/*.obj
**/*.idb
**/*.lib
**/*.pdb
**/*.db
**/*.txt
**/*.vcxproj.user
**/*.exe
**/*.iobj
**/*.ipdb